/* основний колір тексту #000000; */

/*другорядний колір тексту #283136; */

/* фкцент колір : #fb565a; */

/* герой фоновий колір: #eeeeee; */

/* другорядний колір тексту #283136; */

/* колір фону блок герой і футор  #2F303A; */

/* колір логотипу #000000 .. #2196F3; */

/* колір тексту білий #FFFFFF; */

:root {
  --primart-text-color: #000000;
  --subtitle-title-text-color: #283136;
  --bg-button-red: #fb565a;
  --bg-button-red-akcent: #e74246;
  --bg-button-red-clikc: #d7373b;
  --bg-button-gren: #00ca74;
  --bg-button-gren-akcent: #00bc6c;
  --bg-button-gren-clikc: #00aa62;
  --bg-button-yellow: #efc849;
  --bg-button-yellow-akcent: #eab534;
  --bg-button-yellow-clikc: #e5a722;
  --hero-bg-color: #eeeeee;
  --white-color: #ffffff;
  --main-background-color: #888888;
  --footer-text: #666666;
  --contener-color: #eeeee;
  --icon-color: #afb1b8;
  --items-shadow: #eeeeee;
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  /* padding-top: 80px; */
}

/* heder хедер секція */

.header {
  background-color: var(--hero-bg-color);
  /* position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1; */
}

/* .shop {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
} */

.heder-logo__icon {
  width: 160px;
  height: 65px;
}

.heder-logo__icon:active {
  fill: var(--icon-color);
}

.header::after {
  content: "";
  margin-top: 0;
  display: block;
  height: 1px;
  width: 100%;
  background-color: var(--primart-text-color);
  opacity: 0.5;
  box-shadow: 0 15px 40px 0px rgba(0, 0, 0, 0.5);
  margin-left: auto;
  margin-right: auto;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
}

.nav-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  text-transform: uppercase;
  color: var(--primart-text-color);
  text-decoration: none;
  /* outline: 1px solid blue; */
  padding-top: 30px;
  padding-bottom: 30px;
  text-transform: uppercase;
  transition: color 250ms ease 0s;
  transition-timing-function: linear;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--bg-button-red);
  /* transform: scale(1.5); */
}

.nav-link::after {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--bg-button-red);
  height: 3px;
  width: 0%;
  left: 0;
  bottom: 0;
  width: 100%;
  transform: scaleX(0);
  transition: transform 250ms var(--animation-timing-function);
}

.nav-link:hover:after {
  transform: scaleX(1);
}

.nav-menu {
  /* outline: 1px solid red; */
  display: flex;
  background-color: var(--hero-bg-color);
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-list {
  display: flex;
  align-items: center;
  margin-left: 202px;
  gap: 45px;
}

.basket {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-left: auto;
}

.button-icon {
  width: 50px;
  height: 30px;
}

.button-icon:active {
  fill: var(--icon-color);
}

.basket-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: right;
  text-transform: uppercase;
  cursor: pointer;
}

/* hero герой секція */

.hero {
  background-color: var(--hero-bg-color);
}

.hero-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-title {
  /* outline: 1px solid blue; */
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  align-items: center;
  width: 397px;
}

.hero-paragraf {
  /* outline: 1px solid blue; */
  font-size: 16px;
  line-height: 1.5;
  width: 400px;
  margin-top: 25px;
  color: var(--subtitle-title-text-color);
}

.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  text-align: center;
  color: var(--white-color);
  background-color: var(--bg-button-red);
  padding: 17px 54px;
  border-radius: 3px;
  margin-top: 38px;
  border: none;
  cursor: pointer;
  transition: transform 250ms var(--animation-timing-function);
}

.hero-btn:hover,
.hero-btn:focus {
  transform: scale(1.1);
  box-shadow: rgba(217, 183, 192, 0.915) 0px 0px 8px 4px;
  background-color: var(--bg-button-red-akcent);
}

.hero-btn:active {
  background-color: var(--bg-button-red-clikc);
}

/*  Секція карточки Фотокарточки !! Галерея прикладів робіт фірми */

.advertising-list {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.advertising-titel {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: var(--primart-text-color);
  margin-top: 25px;
}

.advertising-paragraf {
  font-size: 16px;
  line-height: 1.5;
  color: var(--subtitle-title-text-color);
  margin-top: 16px;
  width: 260px;
}

.advertising-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  padding: 17px 40px;
  border-radius: 3px;
  border: none;
  margin-top: 32px;
  cursor: pointer;
  transition: transform 250ms var(--animation-timing-function);
}

/* кнопка червона */

.sites {
  background-color: var(--bg-button-red);
}

.sites:hover,
.sites:focus {
  transform: scale(1.1);
  box-shadow: rgba(217, 183, 192, 0.915) 0px 0px 8px 4px;
  background-color: var(--bg-button-red-akcent);
}

.sites:active {
  background-color: var(--bg-button-red-clikc);
}

/* кнопка зелена */

.phone {
  background-color: var(--bg-button-gren);
}

.phone:hover,
.phone:focus {
  transform: scale(1.1);
  box-shadow: rgba(217, 183, 192, 0.915) 0px 0px 8px 4px;
  background-color: var(--bg-button-gren-akcent);
}

.phone:active {
  background-color: var(--bg-button-gren-clikc);
}

/* кнопка жовта */

.tv {
  background-color: var(--bg-button-yellow);
}

.tv:hover,
.tv:focus {
  transform: scale(1.1);
  box-shadow: rgba(217, 183, 192, 0.915) 0px 0px 8px 4px;
  background-color: var(--bg-button-yellow-akcent);
}

.tv:active {
  background-color: var(--bg-button-yellow-clikc);
}

.advertising::after {
  content: "";
  margin-top: 80px;
  display: block;
  height: 3px;
  width: 1415px;
  background-color: var(--hero-bg-color);
  margin-left: auto;
  margin-right: auto;
}

/*  Секція Краснодар Ботани */

.krasnodar-list {
  display: flex;
  justify-content: space-between;
  /* margin-top: 40px; */
}

.item-logo {
  margin-top: 40px;
}

.kranodar-title {
  font-weight: 500;
  font-size: 45px;
  line-height: 1;
  align-items: center;
  width: 651px;
  /* outline: 1px solid red; */
  margin-top: 71px;
  color: var(--primart-text-color);
}

.krasnodar-paragraf {
  font-size: 16px;
  line-height: 1.5;
  /* outline: 1px solid red; */
  width: 650px;
  color: var(--primart-text-color);
  margin-top: 32px;
}

.krasnodar-subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  width: 306px;
  margin-top: 40px;
  color: var(--subtitle-title-text-color);
}

.wrapper-subtitle {
  display: inline-block;
  width: 650px;
  margin-top: 40px;
  padding-left: 32px;
  /* outline: 1px solid red; */
}

.wrapper-item {
  font-size: 16px;
  line-height: 1.5;
  color: var(--subtitle-title-text-color);
  position: relative;
}

.wrapper-item::before {
  content: "";
  position: absolute;
  background: var(--bg-button-red);
  width: 25px;
  height: 2px;
  margin-left: -32px;
  margin-top: 11px;
}

.nerds-statisik {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  /* outline: 1px solid red; */
  color: var(--primart-text-color);
  margin-top: 37px;
}

.nerds-list {
  display: flex;
}

.nerds-item {
  font-weight: 700;
  font-size: 45px;
  line-height: 1.42;
  color: var(--primart-text-color);
  margin-top: 31px;
}

.mark {
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  /* identical to box height, or 154% */

  color: #000000;
}

.nerds-paragraf {
  font-size: 16px;
  line-height: 1.12;
  /* or 112% */
  color: var(--subtitle-title-text-color);
  width: 120px;
  margin-top: 10px;
}

/*  Секція партнери фірми */

.krasnodar::after {
  content: "";
  margin-top: 80px;
  margin-bottom: 45px;
  display: block;
  height: 3px;
  width: 1415px;
  background-color: var(--hero-bg-color);
  margin-left: auto;
  margin-right: auto;
}

.partners-list {
  display: flex;
}

.partners::after {
  content: "";
  margin-top: 40px;
  display: block;
  height: 3px;
  width: 1415px;
  background-color: var(--hero-bg-color);
  margin-left: auto;
  margin-right: auto;
}

.partners-logo__icon {
  margin-top: 0;
  width: 300px;
  padding-right: 45px;
  margin-left: 45px;
  /* border-right: 5px solid; */
  color: var(--hero-bg-color);
  fill: var(--hero-bg-color);
  transition: 250ms var(--animation-timing-function);
}

.partners-logo__icon:hover,
.partners-logo__icon:focus {
  fill: var(--subtitle-title-text-color);
  /* transform: scale(1.5); */
}

.partners-list__items {
  border-right: 5px solid;
  color: var(--hero-bg-color);
}

.partners-list__items:nth-last-child(-n + 1) {
  border: none;
}

.partners-logo {
  width: 200px;
  height: 68px;
}

/* підвал фірми */

.footer {
  margin-top: 80px;
}

.container-footer {
  height: 416px;
  max-width: 1440px;
  /* outline: 1px solid black; */
  margin-top: 80px;
  margin: 0 auto;

  background-image: url(../images/img-cards/map.jpg);

  background-size: no-repeat;

  background-position: center;

  background-size: cover;
  position: relative;
}

.footer-wrapper {
  display: block;
  width: 308px;
  height: 320px;
  background-color: var(--white-color);
  position: absolute;
  top: 53px;
  left: 140px;
}

.footer-title {
  text-align: center;
  margin-top: 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.66;
  color: var(--primart-text-color);
  text-transform: uppercase;
}

.footer-adres__link {
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 1.25;
  text-decoration: none;
  margin-top: 30px;
  color: var(--footer-text);
}

.footer-btn {
  display: block;
  padding: 15px 44px;
  margin: 0 auto;
  margin-top: 38px;
  cursor: pointer;
  background-color: var(--bg-button-red);
  color: var(--white-color);
  border: none;
  border-radius: 3px;
  transition: transform 250ms var(--animation-timing-function);
}

.footer-btn:hover,
.footer-btn:focus {
  transform: scale(1.1);
  box-shadow: rgba(217, 183, 192, 0.915) 0px 0px 8px 4px;
  background-color: var(--bg-button-red-akcent);
}

.footer-btn:active {
  background-color: var(--bg-button-red-clikc);
}

.location {
  display: block;
  position: absolute;
  top: 87px;
  left: 825px;
}

/* підвал фірми медіа посилання */

.media-list {
  display: flex;
  gap: 10px;
  margin: 70px 0;
  align-items: center;
}

.media-logo {
  width: 81px;
  height: 81px;
  fill: var(--white-color);
  background-color: var(--hero-bg-color);
  border-radius: 50%;
  cursor: pointer;
  transition: 250ms var(--animation-timing-function);
}

.media-logo:hover,
.media-logo:focus {
  background-color: var(--bg-button-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.media-logo:active {
  background-color: var(--bg-button-red-clikc);
}

.media-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  color: var(--primart-text-color);
  display: flex;
  align-items: center;
}

.media-paragraf {
  font-size: 16px;
  line-height: 1.37;
  display: flex;
  align-items: center;
  color: var(--subtitle-title-text-color);
  margin-top: 10px;
}

.media-items {
  gap: 10px;
}

.footer-list {
  padding-left: 140px;
}

/* shop друга сторінка */

.shop-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 1;
  text-align: center;
  margin: 72px 0;
}

.main {
  display: flex;
  justify-content: flex-start;
  /* background-color: blue; */
  /* height: 2217px; */
  padding: 10px;
  padding-top: 0;
}

.aside {
  padding: 0px;
  outline: 1px solid red;
  width: 38%;
}

.title-aside {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.66;
  text-transform: uppercase;
  margin-top: 55px;
  outline: 1px solid red;
  color: var(--primart-text-color);
}

.cards {
  margin: 0;
  outline: 1px solid rgb(0, 21, 255);
  /* background-color: orange; */
  width: 62%;
}

.cards-nav {
  display: flex;
  align-items: baseline;
}

.title-cards {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.66;
  text-transform: uppercase;
  outline: 1px solid red;
  margin-top: 55px;
  margin-right: 290px;
  margin-bottom: 45px;
  color: var(--primart-text-color);
}

.cards-item {
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  opacity: 0.3;
  color: var(--primart-text-color);
  transition: 250ms var(--animation-timing-function);
}

.cards-item:hover {
  opacity: 1;
}

.cards-item:active {
  color: var(--primart-text-color);
}

.cards-list {
  display: flex;
  /* outline: 1px solid red; */
  gap: 25px;
  margin-top: 55px;
}

.arrow-icon {
  width: 16px;
  height: 12px;
  fill: #000000;
}

.cards-btn_nav {
  cursor: pointer;
  outline: none;
  border: 0;
  background-color: var(--hero-bg-color);
  transition: 250ms var(--animation-timing-function);
}

.cards-btn_nav:active {
  background-color: rgba(217, 183, 192, 0.915);
}

.img-cards {
  display: flex;
  flex-wrap: wrap;
  margin-right: 42px;
  /* background-color: #00bc6c; */
}

.item-cards:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

/* ховер на карточках */

.img-hed {
  width: 100%;
  background-color: var(--main-background-color);
  opacity: 1;
  transition: 800ms var(--animation-timing-function);
}

.img-hed_list {
  display: flex;
  margin-left: 16px;
  gap: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.img-hed_item {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--white-color);
}

.item-cards {
  margin-right: 42px;
  margin-bottom: 70px;
  position: relative;
  cursor: pointer;
}

.item-cards::before {
  display: inline-block;
  content: " ";
  width: 100%;
  height: 40%;
  bottom: 0;
  right: 0;
  background-color: rgba(224, 135, 135, 0.5);
  position: absolute;
  opacity: 0;
  transition: 800ms opacity linear;
}

.item-cards:hover::before {
  opacity: 1;
}

.item-cards:hover .cards-prise {
  opacity: 1;
}

.item-cards:hover .img-hed {
  background-color: var(--subtitle-title-text-color);
}

.item-cards:nth-child(2n) {
  margin-right: 0;
}

.cards-prise {
  width: 350px;
  /* background-color: var(--hero-bg-color); */
  padding-top: 26px;
  padding-bottom: 44px;
  /* outline: 5px solid red; */
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;

  opacity: 0;
  transition: 400ms opacity linear;
}

.cards-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.6;
  display: block;
  width: 71px;
  margin: 0 auto;
  text-transform: uppercase;
  color: var(--primart-text-color);
}

.subtitle-cards {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  display: block;
  width: 255px;
  text-align: center;
  margin: 0 auto;
  color: var(--primart-text-color);
  margin-top: 12px;
}

.cards-btn {
  display: block;
  margin: 0 auto;
  margin-top: 32px;
  padding: 17px 72px 15px 72px;
  border-radius: 3px;
  color: var(--white-color);
  background-color: var(--bg-button-red);
  border: none;
  cursor: pointer;
  transition: transform 250ms var(--animation-timing-function);
}

.cards-btn:hover,
.cards-btn:focus {
  transform: scale(1.1);
  box-shadow: rgba(217, 183, 192, 0.915) 0px 0px 8px 4px;
  background-color: var(--bg-button-red-akcent);
}

.cards-btn:active {
  background-color: var(--bg-button-red-clikc);
}
